#quarto-sidebar {
  background-color: #fbf9c2;
  width: 100dvw !important;
  overflow: visible !important;
}

#quarto-sidebar.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    transition: none !important;
}

.quarto-btn-toggle {
    display: none !important;
}